@font-face{
font-family:Raphtalia;
src: url(../fonts/Raphtalia_DEMO.ttf);
}

@font-face{
font-family:Alegreya;
src: url(../fonts/Alegreya-Regular.ttf);
}

@font-face{
font-family:BreeSerif;
src: url(../fonts/BreeSerif-Regular.ttf);
}

@font-face{
font-family:Alegreya-ExtraBoldItalic;
src: url(../fonts/Alegreya-ExtraBoldItalic.ttf);
}


*{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Alegreya';
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #497FEB;
	color: #fff;
}

header h1 {
	font-family: 'Raphtalia';
	font-weight: lighter;
	font-size: 70px;
	display: inline-block;
	text-align: left;
	margin: 10px;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

header .menuP {
	display: inline-block;
	margin-top: 22px;
	float: right;
}

header .menuP li {
	display: inline-block;
	margin: 20px 10px;
	font-size: 18px;
}

header .menuP a, h1 a{
	padding: 9px;
	color: #fff;
	text-decoration: none;
}

header .menuP a:hover {
	background: #193C83;
	border-radius: 30px;
}

header span {
	margin-right: 28px;
	margin-left: 6px;
}

header li#carrito {
	margin-right: 24px;
	margin-left: 6px;
	font-size: 20px;
}

.icon-user, .icon-exit {
	margin-right: 10px;
	font-size: 20px;
}

.icon-circle-down {
	margin-left: 40px;
	transition: all .1s;
}

.menu-bar{
	cursor: pointer;
	padding: 16px;
	color: #fff;
	opacity: .7;
}

.menu-bar:hover {
	opacity: 1;
}

header nav{
	font-family: 'BreeSerif';
	position: fixed;
	width: 64px;
	height: 100%;
	background:#193C83;
	outline: 1px solid #193C83;
	transition: all .3s;
	overflow-x: hidden;
    overflow-y: auto;
}

header nav:hover {
	width: 20%;
	max-width: 300px;
}

header nav::-webkit-scrollbar {
  width: 14px;
}

header nav::-webkit-scrollbar-track {
  background: #f1f1f1;
}

header nav::-webkit-scrollbar-thumb {
  background: #414A36; 
  border-radius: 5px;
}

header nav::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

header ul {
	list-style: none;
}

header nav > ul {
	padding-bottom: 120px;
}

.barra {
	width: 0;
	position: absolute;
	height: 56px;
	background-color: rgba(21, 65, 33, .5);
	transition: all .2s;
}

header nav li {
	border-bottom: 1px solid #497FEB;
	transition: all .3s;
}

header nav li:hover {
	border-left: 5px solid #eee;
}

header nav .submenu li:hover .barra{
	width: 100%;
}

.submenu {
	display: none;
}
header nav a {
	padding: 15px;
	display: block;
	color: #fff;
	opacity: .85;
	font-size: 1.2em;
	text-decoration: none;
	position: relative;
}

header nav a:hover {
	opacity: 1;
	color: #FFE0AD;
}

header nav li a:first-child:hover {
	background-color: #2C3926;
	color: #fff;
}

header nav li a:focus .icon-circle-down {
	margin-left: 34px;
}

div.contenido {
	width: 93%;
	text-align: center;
	overflow: hidden;
	margin-top: 109px;
	margin-left: 66px;
	padding: 30px 20px;
}

div.contenido h3 {
	text-align: left;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 0 40px;
}

div.producto {
	display: block;
	float: left;
	text-align: center;
	margin: 20px 30px;
	font-size: 18px;
	width: 40%;
	height: 35%;
	border: 1px solid #bbb;
}

div.producto:hover {
	border: 1px solid #999;
}

div.producto img {
	height: 100%;
}

div.contenido p.precio {
	text-align: left;
	font-size: 20px;
}

div.contenido .btn-agg-carrito {
	text-align: left;
}

div.contenido input[type="submit"] {
	text-align: center;
	display: block;
	margin: 20px 0;
	font-size: 14px;
	font-weight: bold;
	height: 44px;
	width: 140px;
	background: #34A4C2;
	color: #fff;
	border: none;
	border-radius: 20px;
}

div.contenido input[type="submit"]:hover{
	background: #53C1ED;
	cursor: pointer;
}

div.contenido h4 {
	text-align: left;
	font-size: 24px;
}

div.contenido p {
	text-align: left;
	margin-right: 60px;
}

div.producto a {
	color: #4F5B51;
	padding: 9px;
	text-decoration: none;
}

div.producto a:visited {
	color:#4F5B51;
}

div.producto a:hover{
	color: #778E7B;
}

div.producto a.ver {
	background-color: #2851A4;
	color: #fff;
	font-size: 16px;
	display: block;
	margin: 0 auto;
	margin-top: 18px;
	width: 60%;
	border-radius: 2px;
	padding: 3px 0;
}

div.producto a.ver:hover{
	background-color: #6387D3;
}

footer {
	background: #497FEB;
	color:#fff;
	z-index: 0;
	width: 106%;
	padding: 10px 0;
	text-align: center;
}

.abrir {
	transform: translateX(240px);
}

.activado > a{
	background-color: #2C3926;
	color: #fff;
}