@font-face{
font-family:Raphtalia;
src: url(../fonts/Raphtalia_DEMO.ttf);
}

@font-face{
font-family:Adinda;
src: url(../fonts/Adinda.ttf);
}

@font-face{
font-family:Alegreya;
src: url(../fonts/Alegreya-Regular.ttf);
}

@font-face{
font-family:BreeSerif;
src: url(../fonts/BreeSerif-Regular.ttf);
}

*{
	margin: 0;
	padding: 0;
}

body {
	background: #EEF7F2;
	font-family: 'Alegreya';
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #71CB05;
	color: #fff;
}

header h1 {
	font-family: 'Raphtalia';
	font-weight: lighter;
	font-size: 70px;
	display: inline-block;
	text-align: left;
	margin: 10px;
}

header .menuP {
	display: inline-block;
	margin-top: 17px;
	float: right;
}

header .menuP li {
	display: inline-block;
	margin: 20px 12px;
	font-size: 22px;
}

header .menuP a, h1 a{
	padding: 9px;
	color: #fff;
	text-decoration: none;
}

header .menuP a:hover {
	background: #5CA604;
	border-radius: 30px;
}

header span {
	margin-right: 28px;
	margin-left: 6px;
}

.icon-user, .icon-exit {
	margin-right: 10px;
	font-size: 22px;
}

.icon-circle-down {
	margin-left: 40px;
	transition: all .1s;
}

.menu-bar{
	cursor: pointer;
	padding: 16px;
	color: #fff;
	opacity: .7;
}

.menu-bar:hover {
	opacity: 1;
}

header nav{
	font-family: 'BreeSerif';
	position: fixed;
	width: 64px;
	height: 100%;
	background:#5CA604;
	outline: 1px solid #5CA604;
	transition: all .3s;
	overflow-x: hidden;
    overflow-y: auto;
}

header nav:hover {
	width: 20%;
	max-width: 300px;
}

header nav::-webkit-scrollbar {
  width: 14px;
}

header nav::-webkit-scrollbar-track {
  background: #f1f1f1;
}

header nav::-webkit-scrollbar-thumb {
  background: #414A36; 
  border-radius: 5px;
}

header nav::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

header ul {
	list-style: none;
}

header nav > ul {
	padding-bottom: 110px;
}

.barra {
	width: 0;
	position: absolute;
	height: 56px;
	background-color: rgba(21, 65, 33, .5);
	transition: all .2s;
}

header nav li {
	border-bottom: 1px solid #71CB05;
	transition: all .3s;
}

header nav li:hover {
	border-left: 5px solid #eee;
}

header nav .submenu li:hover .barra{
	width: 100%;
}

.submenu {
	display: none;
}
header nav a {
	padding: 15px;
	display: block;
	color: #fff;
	opacity: .85;
	font-size: 1.2em;
	text-decoration: none;
	position: relative;
}

header nav a:hover {
	opacity: 1;
	color: #FFE0AD;
}

header nav li a:first-child:hover {
	background-color: #2C3926;
	color: #fff;
}

header nav li a:focus .icon-circle-down {
	margin-left: 34px;
}

.slider {
	width: 100%;
	margin: 110px 0 0 66px;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 600%;

	animation: cambio 30s infinite;
	animation-direction: alternate;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
	height: 350px;
}

@keyframes cambio {
	0% { margin-left: 0; }
	12.5% { margin-left: 0; }

	17.5% { margin-left: -100%; }
	30% { margin-left: -100%; }

	35% { margin-left: -200%; }
	47.5% { margin-left: -200%; }

	52.5% { margin-left: -300%; }
	65% { margin-left: -300%; }

	70% { margin-left: -400%; }
	82.5% { margin-left: -400%; }

	87.5% { margin-left: -500%; }
	100% { margin-left: -500%; }
}

div.contenido {
	width: 93%;
	margin-left: 66px;
	padding: 30px 20px;
	background-color: #eee;
}

div.contenido h2 {
	font-size: 34px;
	font-variant: small-caps;
	font-weight: 900;
	margin-bottom: 30px;
	text-align: center;
}

footer {
	background: #71CB05;
	color:#fff;
	z-index: 0;
	padding: 10px 0px;
	text-align: center;
}

.abrir {
	transform: translateX(240px);
}

.activado > a{
	background-color: #2C3926;
	color: #fff;
}